ARCGIS_URL=https://tuorganizacion.maps.arcgis.com
ARCGIS_USERNAME=tu_usuario_arcgis
ARCGIS_PASSWORD=tu_contraseña_arcgis
ARCGIS_CLIENT_ID=tu_application_id_aqui
GITHUB_TOKEN=tu_github_personal_access_token
POSTGIS_HOST=localhost
POSTGIS_PORT=5432
POSTGIS_DB=gis_db
POSTGIS_USER=gis_user
POSTGIS_PASSWORD=gis_password
